@font-face {
  font-family: 'MyFont';
  src: url('public/InterTight-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'MyFont2';
  src: url('public/InterTight-Light.ttf') format('truetype');
}

html {
  font-family: 'MyFont', sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.hamburger-menu {
  display: none;
}

.header-default {
  background-color: whitesmoke;
  padding: 10px 5%;
}

.header-moving {
  background-color: white;
  padding: 10px 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  margin-top: 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 10px;
}

button {
  white-space: nowrap;
  font-family: 'MyFont2';
  font-size: 1rem;
  padding: 10px;
  border-radius: 4px;
  border: 0.5px solid rgb(118, 118, 118);
  transition: 0.3s ease;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

.container {
  display: flex;
}

.left-side {
  flex: 50%;
}

.map {
  position: fixed;
  top: 15%;
  right: 5%;
  width: 50vw;
  height: 80vh;
  z-index: 10;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
}

.filters {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.filter {
  font-family: 'MyFont2';
  font-size: 1rem;
  color: black;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 10px;
}

main {
  padding: 10px 5%;
  margin: 0 auto;
}

.restaurant-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 40%;
  transition: transform 0.3s ease;
}

.restaurant-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.restaurant-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hidden {
  display: none;
}

.restaurant-name {
  font-size: 1.6rem;
  font-weight: bold;
}

.restaurant-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'MyFont2';
  text-align: left;
}

.heart-btn {
  font-size: 24px;
  border: none;
  background: none;
  color: black;
  transition: color 0.3s ease;
}

.heart-btn:hover {
  color: red;
  box-shadow: none;
}

.heart-btn-favorited {
  font-size: 24px;
  border: none;
  background: none;
  color: red;
}

.heart-btn-favorited:hover {
  transform: none;
  box-shadow: none;
}

.selection {
  margin-bottom: 10px;
}

.selected {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.menu-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 40%;
  transition: transform 0.3s ease;
}

.menu-card h3 {
  font-size: 2rem;
  margin-bottom: 40px;
  margin-top: 20px;
}

.menu-card h4 {
  font-size: 1rem;
  margin-bottom: 38px;
}

.menu-card h5,
p {
  font-family: 'MyFont2';
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 5px;
}

.individual-course {
  margin-bottom: 30px;
}

.individual-course h4 {
  margin-bottom: 20px;
}

.course-separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7c7c7c;
  margin: 1em 0;
  margin-top: 39px;
  padding: 0;
}

.day-separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7c7c7c;
  margin: 1em 0;
  padding: 0;
}

.modal {
  position: fixed;
  top: -20%;
  width: 30%;
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding-left: 50px;
  padding-right: 50px;
}

#info-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.modal h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.message-output {
  margin-bottom: 10px;
  font-weight: bold;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  border-radius: 4px;
  border: 0.5px solid rgb(118, 118, 118);
  text-align: center;
}

.modal-button {
  margin-top: 20px;
  width: 100%;
}

.exit-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.exit-button:hover {
  transform: translateY(-3px);
  box-shadow: none;
}

.modal label {
  display: block;
  font-family: myFont2;
  width: 50%;
  padding: 10px;
  padding-left: 0;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: whitesmoke;
  border: 0.5px solid rgb(118, 118, 118);
  border-radius: 4px;
  transition: 0.3s ease;
}

.modal label:hover {
  transform: translateY(-3px);
}

footer {
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .map {
    display: none;
  }

  .restaurant-card {
    max-width: 90% !important;
    margin: 10px auto;
  }

  .menu-card {
    max-width: 90% !important;
    margin: 10px auto;
  }

  .filters {
    max-width: 90% !important;
    margin: 10px auto;
  }
}

@media (max-width: 850px) {
  .full-width {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: white;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .full-width li {
    padding: 0;
    margin: 0;
  }

  .modal {
    width: 100vw;
  }

  .full-width button {
    width: 100vw;
  }

  .full-width button:hover {
    transform: none;
    background-color: #7c7c7c;
  }

  .hamburger-menu {
    display: block;
    margin-left: 20px;
  }

  .restaurant-card {
    max-width: 100vw !important;
    margin: auto;
    margin-bottom: 10px;
  }

  .menu-card {
    max-width: 100vw !important;
    margin: auto;
  }

  footer {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
